<!DOCTYPE html>
<html>
    <body>
        <h1>{% block titre %}Guide Michelin
            {% endblock %}
        </h1>
        <div id="contenu" >
            {% block contenu %}
            {% endblock %}
        </div>
        <hr />
        <div id="pied_de_page" >
            <p>&copy; DF.</p>
        </div>
    </body>
</html>