<!DOCTYPE html>
<html> 
    <head>
        <title>Guide Michelin ..trouvez un resteaurant</title>
    </head>
    <body>
        <h1>Restaurants :</h1>
        <p> blablabla blablabla blablabla blablabla blablabla blablabla blablabla
            blablabla ....
        </p>
    </body>
</html>
