{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} : Accueil
{% endblock %}

{% block contenu %}
    <h3>Bienvenu</h3>
    
    <p><a href="{{ path('guide_menu') }}">Voir le Menu</a></p>
{% endblock %}
