{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} - ajouter un restaurant
{% endblock %}
{% block contenu %}
    <h3>renseigner les champs ci-dessous</h3>
    
{% endblock %}